<?xml version="1.0" encoding="UTF-8"?>

<web-app id="poll-webapp" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">


	<display-name>poll-webapp</display-name>
	<description>Web Application for polls</description>

    <servlet>
	<servlet-name>VoteServlet</servlet-name>
		<servlet-class>it.frassi.servlet.VoteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VoteServlet</servlet-name>
		<url-pattern>/vote/*</url-pattern>
	</servlet-mapping>
	 
	 
	
	<resource-ref>
      <description>Connection pool to the database</description>
      <res-ref-name>jdbc/poll-webapp</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  	</resource-ref>

</web-app>